<div class="toolbar">
	<a class="btn btn-sm btn-default" ng-href="#/edit/{{contacts.current.id}}">Edit</a>
	<a ng-show="contacts.current.type == 'CONTACT' && contacts.current.company.id" class="btn btn-sm btn-default" ng-href="{{baseUrl}}/project/index/customer/id/{{contacts.current.company.id}}">Projects</a>
	<a ng-show="contacts.current.type == 'COMPANY' && contacts.current.id" class="btn btn-sm btn-default" ng-href="{{baseUrl}}/project/index/customer/id/{{contacts.current.id}}">Projects</a>
</div>
<div ng-show="contacts.current && contactFound" class="crm-detail-pane">

	<div style="width:100%;box-sizing:border-box;">
		
		<div class="line">
			<div class="unit">
				<!-- contact details -->
				<div class="crm-contact-details">
					<!-- Name & company -->
					<div class="media mtn">
						<div class="pull-left">
							<img width="72" class="br50 media-object" ng-src="{{contacts.current.image_url}}" />
						</div>
						<div class="media-body ptm">
							<h4 ng-show="contacts.current.name" class="mtn">{{contacts.current.name}}</h4>
							<h4 ng-show="!contacts.current.name" class="mtn"><i ng-show="!contacts.current.name">No Name</i></h4>
							<div ng-show="contacts.current.company">
								<span class="role">{{contacts.current.company_role}}</span> <a href="#/contact/{{contacts.current.company.id}}">{{contacts.current.company.name}}</a>
							</div>
						</div>
					</div>
					<!-- Select a State -->
					<div class="btn-group">
						<button class="btn btn-link dropdown-toggle pln" data-toggle="dropdown" >
							<span class="label label-default" style="background-color:{{status.get(contacts.current.status_id).color}}">{{status.get(contacts.current.status_id).name}}</span>
							<span class="label label-default" ng-hide="status.get(contacts.current.status_id)">Select State</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="state in status.array">
								<a rel="tooltip" data-placement="right" title="{{state.description}}" ng-click="setState(state.id)" style="color:{{state.color}}">{{state.name}}</a>
							</li>
						</ul>
					</div>
					<!-- Select an Owner -->
					<div class="btn-group">
						<button class="btn btn-link dropdown-toggle" data-toggle="dropdown" >
							<span>{{users.get(contacts.current.owner_id).first_name}} {{users.get(contacts.current.owner_id).last_name}}</span>
							<span ng-hide="users.get(contacts.current.owner_id)">Owned By</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="user in users.array"><a ng-click="setOwner(user.id)">{{user.first_name}} {{user.last_name}}</a></li>
						</ul>
					</div>
					<!-- Groups -->
					<span>
						<small ng-show="contacts.current.groups.length">Groups:</small> 
						<span ng-repeat="group in contacts.current.groups" rel="tooltip" title="{{groups.get(group.id).name}}" class="label label-info label-group" style="background-color:{{groups.get(group.id).color}};margin-right:2px;" >
							{{groups.get(group.id).name}}
							<a class="close" ng-click="removeGroup(group.id)" style="font-size: 14px;float:none;line-height:0px;">&times;</a>
						</span>
					</span>
					<!-- Emails -->
					<div ng-show="contacts.current.emails" class="ptl">
						<div ng-repeat="email in contacts.current.emails">
							<span class="glyphicon glyphicon-envelope icon-subtle"></span> <a target="_blank" ng-href="mailto:{{email.email}}">{{email.email}}</a> <span class="badge badge-attribute-label">{{email.label}}</span><br/>
						</div>
					</div>
					<!-- Tel -->
					<div ng-show="contacts.current.phones" class="ptl">
						<div ng-repeat="phone in contacts.current.phones">
							<i class="glyphicon glyphicon-phone icon-subtle"></i> {{phone.number}} <span class="badge badge-attribute-label">{{phone.label}}</span>
							<a href="javascript://" class="btn btn-default btn-xs" style="border-radius:10px;" ng-click="callNumber(phone.number)"><i class="fa fa-phone"></i></a><br/>
						</div>
					</div>
					<!-- Websites -->
					<div ng-show="contacts.current.websites" class="prl">
						<div ng-repeat="website in contacts.current.websites">
							<i class="glyphicon glyphicon-desktop icon-subtle"></i> <a target="_blank"  ng-href="http://{{website.address}}">{{website.address}}</a> <span class="badge badge-attribute-label">{{website.label}}</span><br/>
						</div>
					</div>
					<!-- Addresses -->
					<div ng-show="contacts.current.addresses" class="ptl">
						<div ng-repeat="address in contacts.current.addresses">
							<div class="line">
								<!--<h5 class="mbn">Addresses</h5>-->
								<span class="glyphicon glyphicon-home pull-left icon-subtle"></span> 
								<address class="pull-left mbn">
									<span ng-bind-html="address.lines | nl2br"></span><br/>
									{{address.city}} <br/>
									{{address.postcode}} <br/>
									<span ng-show="address.county">{{address.county}}<br/></span>
									<span ng-show="address.country_id">{{address.country_id}}</span>
								</address>
								<span class="badge pull-left badge-attribute-label mls mts">{{address.label}}</span><br/>
								<a target="_blank" href="{{mapLink(address)}}">Map</a>
							</div>
						</div>
					</div>
					<!-- People -->
					<div ng-show="contacts.current.staff">
						<h4>People At {{contacts.current.name}}</h4>
						<div ng-repeat="staff in contacts.current.staff">
							<a href="{{contacts.link(staff)}}">
								<i class="glyphicon glyphicon-user pull-left icon-subtle" style="margin-top:2px;"></i> 
								<span ng-show="staff.name">{{staff.name}}</span>
								<i ng-show="!staff.name">No Name</i>
							</a>
						</div>
					</div>
					<!-- Background -->
					<div ng-show="contacts.current.background">
						<h4>Background</h4>
						<div ng-bind-html="contacts.current.background | nl2br | sanitize"></div>
					</div>
				</div>
			</div>
			<div class="lastUnit">
				<!-- CUSTOMER STATS -->
				<div ng-show="contacts.current.type == 'COMPANY'" style="float:right;padding:15px 15px;width:300px;box-sizing:border-box;box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2);background:white;">
					<div class="kashflowinfo">
						<div ng-show="contacts.current.type == 'COMPANY' && contacts.current.kashflow_id != null">
							Kashflow ID : <a target="kashflow" ng-href="https://securedwebapp.com/editCustomer.asp?id={{contacts.current.kashflow_id}}">{{contacts.current.kashflow_id}} Kashflow Page</a> <br/>
							<a ng-show="isFinanceAdmin" ng-href="{{baseUrl + '/crm/index/quality/customerId/' + contacts.current.id}}">Customer Quality Stats</a>
						</div>

						<div ng-show="isFinanceAdmin && contacts.current.kashflow_id != null">
							<h2>£{{customerStats.totalInvoiced}}</h2>
							<h2 ng-class="{'text-danger':customerStats.profitLossRaw < 0}">£{{customerStats.profitLoss}}</h2>
							<div><h4>{{customerStats.totalStaffTimeNice}} <span class="label label-default pull-right">Total time</span></h4></div>
							<div><h4>{{customerStats.totalUnbilledTimeNice}} <span class="label label-default pull-right">Unbilled time</span></h4></div>
							<div>
								<h4 title="{{customerStats.earntPerHour_explained}}">&pound;{{customerStats.earntPerHour | number : 2}} <span class="label label-default pull-right">Earnt per hour</span></h4>
							</div> 
						</div>
					</div>
				</div>
				<!-- //END: CUSTOMER STATS -->
			</div>
		</div>
		
		<br />
		<br />
		
		
		
		<div ng-show="contacts.current.type == 'CONTACT'">
			<contact-action></contact-action>
		</div>
		
		<contact-deal></contact-deal>
		<contact-notes></contact-notes>
		
		

<!-- Planned: Timeline Stuff -->
Planned

<call-log></call-log>
<!-- Past: Timeline stuff -->
Past





	{{debug}}
	<div ng-show="{{debug}}">
		<button class="btn btn-link" ng-init="debugContact=false" ng-click="debugContact = !debugContact" >Debug</button>
		<div ng-show="debugContact"><pre>{{contacts.current | json}}</pre></div>
	</div>
</div>
    
    
    
</div>
<div class="crm-detail-pane" ng-hide="contacts.current || loading==true">
	<strong>Hub CRM</strong> <br/>
	Select a contact to get started
</div>
<div class="crm-detail-pane" ng-show="loading">Loading...</div>
<div class="crm-detail-pane" ng-hide="contactFound">No Contact Found!</div>
