<style>
	.controls-row [class*="span"] + [class*="span"].crm-type-label{margin-left:5px;}
	.select2-container-multi .select2-choices .select2-search-field input{padding:4px 6px;margin:0px;}
	.bigdrop.select2-container .select2-results {max-height: 300px;}
	.bigdrop .select2-results {max-height: 300px;}	
	.icon-form-item{font-size:1.5em;color:#ccc;margin-top:2px;}
	.address-lines{border-radius:3px 3px 0 0;}
	.controls-row input, .controls-row textarea, .controls-row select {margin-bottom: 0px;}
	.btn-minus{margin-top:3px;}
	.select2-drop-active{width:300px;}
	.select2-container .select2-choice span {margin-right:10px;}
	.select2-results {max-height:300px;font-size:13px;}
	.tel .crm-type-tel.select2-container .select2-choice, .select2-container-multi .select2-choices{border-right:0px;border-radius:3px 0px 0px 3px;}
	.tel .tel-number{border-radius:0px 3px 3px 0px;}
	a.btn-icon:hover{text-decoration: none;}
	.saving{}
</style>

<div class="toolbar">
	<a class="btn btn-small" ng-click="save()" ng-href="#/contact/{{contact.id}}">Done</a> 
	<small class="muted" ng-show="lastSaved && !saving">
		Last Saved: {{lastSaved}}
	</small>
	<small class="muted" ng-show="saving">
		Saving..
	</small>
	<div ng-show="saving" class="pull-right saving label label-warning">saving...</div>
	
</div>

<div ng-show="contact" class="crm-detail-pane">

	<form novalidate class="form-inline">
		<div class="media mtn">
			<div class="pull-left">
				<img width="70" class="media-object" ng-src="{{contact.image_url}}"/>
			</div>
			<div class="media-body">
				<div class="controls mbm mln">
					<input ng-blur="save()" ng-model="contact.name"  class="form-control name" placeholder="Name" type="text" />
				</div>
				<div ng-show="contact.type=='CONTACT'" class="controls mbm mln">
					<input ng-blur="save()" ng-model="contact.company_role" placeholder="Job Title" type="text">
					<input ng-blur="save()" value="{{contact.company_id}}" ng-model="contact.company_id" contact-select placeholder="Company" can-create-new="true" group="companies" type="text" />
				</div>
			</div>
		</div>

		<br/>
		
		<h4>Emails <a class="mbs btn btn-sm btn-link btn-icon" ng-click="add('emails')" focusLastOnClick=".email-input"><i class="glyphicon glyphicon-plus"></i></a></h4>
		<div class="ng-cloak">
			<div class="controls-row" class="ng-cloak" ng-repeat="email in contact.emails track by $index">
				<i class="glyphicon glyphicon-envelope icon-form-item pull-left"></i>
				<input ng-blur="save()" ng-model="contact.emails[$index].email"  class="form-control span3 email-input" type="text" placeholder="Email Address" />
				<input ng-blur="save()" ng-model="contact.emails[$index].label" label-select='{{emailLabels}}' class="form-control span2 crm-type-label" type="text" placeholder="Type" />
				<a ng-click="remove('emails', $index)" class="btn btn-mini mls btn-minus btn-link btn-icon"><i class="glyphicon glyphicon-minus"></i></a>
			</div>
		</div>

		<h4>Tel <a class="mbs btn btn-sm btn-link btn-icon" ng-click="add('phones')"><i class="glyphicon glyphicon-plus"></i></a></h4>
		<div class="ng-cloak tel">
			<div class="controls-row" class="ng-cloak" ng-repeat="phone in contact.phones track by $index">
				<i class="glyphicon glyphicon-phone icon-form-item pull-left" ></i>
				<input ng-blur="save()" country-tel class="span2 mln crm-type-tel" type="text" placeholder="Type" value="+44" style="width:45px;" />
				<input ng-blur="save()" ng-model="contact.phones[$index].number" class="span3 mln tel-number" type="text" placeholder="Phone Number" />
				<input ng-change="save()" ng-model="contact.phones[$index].label" label-select='{{phoneLabels}}' class="span2 crm-type-label" type="text" placeholder="Type"  />
				<a ng-click="remove('phones', $index)" class="btn btn-mini mls btn-minus btn-link btn-icon"><i class="glyphicon glyphicon-minus"></i></a>
			</div>
		</div>

		<h4>Web & Social<a class="mbs btn btn-mini btn-link btn-icon" ng-click="add('websites')"><i class="glyphicon glyphicon-plus"></i></a></h4>
		<div class="ng-cloak">
			<div class="controls-row" class="ng-cloak" ng-repeat="website in contact.websites track by $index">
				<i class="glyphicon glyphicon-desktop icon-form-item pull-left"></i>
				<input ng-blur="save()" ng-model="contact.websites[$index].address"  class="span3" type="text" placeholder="Web Address" />
				<input ng-blur="save()" ng-model="contact.websites[$index].label" label-select='{{websiteLabels}}' class="span2 crm-type-label" type="text" placeholder="Type" />
				<a ng-click="remove('websites', $index)" class="btn btn-mini mls btn-minus btn-link btn-icon"><i class="glyphicon glyphicon-minus"></i></a>
			</div>
		</div>

		<h4>Address <a class="mbs btn btn-mini btn-link btn-icon" ng-click="add('addresses')"><i class="glyphicon glyphicon-plus"></i></a></h4>
		<div class="ng-cloak">
			<div class="controls-row mbm" class="ng-cloak" ng-repeat="address in contact.addresses track by $index">
				<i class="glyphicon glyphicon-home icon-form-item pull-left"></i>
				<div class="pull-left">
					<textarea ng-model="contact.addresses[$index].lines" placeholder="Address Lines" class="span4 address-lines"></textarea> <br/>
					<input ng-model="contact.addresses[$index].city" type="text" placeholder="City" class="pull-left" style="border-radius:0;width:250px;border-width:0 1px 0 1px;" /><input ng-model="address.postcode" type="text" placeholder="Post/Zip Code" style="margin-left:0px;width:93px;border-radius:0;border-width:0 1px 0 0;" class="span1 address-postcode"  /><br/>
					<input ng-model="contact.addresses[$index].county" type="text" placeholder="County/State" class="span4 address-county" style="border-radius:0" /><br />
					<input ng-model='contact.addresses[$index].country_id' country type="text" placeholder="Country" value="GB" style="width: 360px;border-top-width: 0;border-radius: 0px 0px 3px 3px;" />
				</div>
				<input ng-model="contact.addresses[$index].label"  label-select='{{addressLabels}}' class="span2 crm-type-label mls" type="text" placeholder="Type" />
				<a ng-click="remove('addresses', $index)" class="btn btn-mini mls btn-minus btn-link btn-icon"><i class="glyphicon glyphicon-minus"></i></a>
			</div>
		</div>

		<div class="controls">
			<label>Owner</label>
			<select ng-model="contact.owner_id" ng-change="save()" ng-options="user.id as user.first_name+' '+user.last_name for user in users.array"></select>
		</div>
		
		<h4>Background</h4>
		<div class="controls">
			<textarea ng-model="contact.background" class="input-xxlarge" rows="5"></textarea>
		</div>
		
		<div ng-show="contact.type=='COMPANY'">
			<h4>Kashflow ID</h4>
			<div class="controls">
				<input ng-model="contact.kashflow_id" type="text" class="input-large mbn" rows="5" />
				<small class="help-block">To show kashlfow info like total cost etc P&L stats for this customer you need to input the kashflow ID for this account</small>
			</div>
		</div>
		
        <button ng-click="save()" class="btn btn-success btn-small">Save</button>
		<button ng-click="deleteContact(contact.id)" ng-blur="save()" class="btn btn-danger btn-small">Delete</button>
	</form>
	
	<!--<pre>{{contactSaved | json}}</pre>-->
	
</div>