<div>
	<div id="topbar">
		<input ng-model="query" ng-change="searchy(query)" placeholder="Search..." type="text" style="font-size:12px;margin-bottom:2px;padding:3px;" class="ng-pristine ng-valid">
	</div>
	<ul id="phonelist" ng-cloak class="man col" when-scrolled-down="contacts.loadMore()" when-scrolled-up="contacts.loadPrev()">
		<li class="contact" ng-repeat="contact in contacts.collection.array" ng-show="contact.phones">
			<a ng-click="showNumbers(contact)" class='contact-link'>
				<span ng-show="contact.name">{{contact.name}}</span>
				<i ng-show="!contact.name">No Name</i>
				<small ng-show="contact.company">{{contact.company.name}}</small>
			</a>
			<div class='phone-numbers hide' id='phoneNumbers{{contact.id}}'>
				<a ng-repeat="phone in contact.phones" class="phone-link" ng-click="callNumber(phone)" ng-show='phone.number'>
					<span class='label label-mini' style="float:right">{{phone.label}}</span>
					<i class="icon-phone"></i> {{phone.number}}
				</a>
			</div>
		</li>
	</ul>
</div>