<div class="toolbar">
	<div ng-cloak class="line">
		<div class="unit">
			<input class="mrs mbs form" ng-click="checkAll($event)" type="checkbox" style="margin-top:8px;"/>
		</div>
		<div class="unit" style="width:200px">
			<input class="form-control" ng-model="query" ng-change="searchy(query)" placeholder="Search..." type="text" style="font-size:12px;margin:1px 0 2px 0;padding:3px;height:28px" />
		</div>
		<div class="lastUnit">
			<button class="btn btn-primary  btn-sm pull-right" ng-click="addContact()"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-user"></i></button>
			<a href="{{getExportUrl()}}" class="btn btn-sm btn-link pull-right" ng-click="export()"><i class="glyphicon glyphicon-download"></i> export</a>
		</div>
	</div>
	
	<span ng-show="contacts.countChecked()">{{contacts.countChecked()}}</span>


	<div class="btn-group" data-toggle="buttons-radio">
		<button ng-click="letterSearch('')"  class="btn btn-xs btn-link active btn-letter">All</button>
		<button ng-click="letterSearch('0')" class="btn btn-xs btn-link btn-letter">#</button>
		<button ng-click="letterSearch('a')" class="btn btn-xs btn-link btn-letter">A</button>
		<button ng-click="letterSearch('b')" class="btn btn-xs btn-link btn-letter">B</button>
		<button ng-click="letterSearch('c')" class="btn btn-xs btn-link btn-letter">C</button>
		<button ng-click="letterSearch('d')" class="btn btn-xs btn-link btn-letter">D</button>
		<button ng-click="letterSearch('e')" class="btn btn-xs btn-link btn-letter">E</button>
		<button ng-click="letterSearch('f')" class="btn btn-xs btn-link btn-letter">F</button>
		<button ng-click="letterSearch('g')" class="btn btn-xs btn-link btn-letter">G</button>
		<button ng-click="letterSearch('h')" class="btn btn-xs btn-link btn-letter">H</button>
		<button ng-click="letterSearch('i')" class="btn btn-xs btn-link btn-letter">I</button>
		<button ng-click="letterSearch('j')" class="btn btn-xs btn-link btn-letter">J</button>
		<button ng-click="letterSearch('k')" class="btn btn-xs btn-link btn-letter">K</button>
		<button ng-click="letterSearch('l')" class="btn btn-xs btn-link btn-letter">L</button>
		<button ng-click="letterSearch('m')" class="btn btn-xs btn-link btn-letter">M</button>
		<button ng-click="letterSearch('n')" class="btn btn-xs btn-link btn-letter">N</button>
		<button ng-click="letterSearch('o')" class="btn btn-xs btn-link btn-letter">O</button>
		<button ng-click="letterSearch('p')" class="btn btn-xs btn-link btn-letter">P</button>
		<button ng-click="letterSearch('q')" class="btn btn-xs btn-link btn-letter">Q</button>
		<button ng-click="letterSearch('r')" class="btn btn-xs btn-link btn-letter">R</button>
		<button ng-click="letterSearch('s')" class="btn btn-xs btn-link btn-letter">S</button>
		<button ng-click="letterSearch('t')" class="btn btn-xs btn-link btn-letter">T</button>
		<button ng-click="letterSearch('u')" class="btn btn-xs btn-link btn-letter">U</button>
		<button ng-click="letterSearch('v')" class="btn btn-xs btn-link btn-letter">V</button>
		<button ng-click="letterSearch('w')" class="btn btn-xs btn-link btn-letter">W</button>
		<button ng-click="letterSearch('x')" class="btn btn-xs btn-link btn-letter">X</button>
		<button ng-click="letterSearch('y')" class="btn btn-xs btn-link btn-letter">Y</button>
		<button ng-click="letterSearch('z')" class="btn btn-xs btn-link btn-letter">Z</button>
	</div>

	<div id="contact-filters" class="contact-filters">

		<span ng-repeat="(key, value) in contacts.filters">
			<small ng-show="$first">Filters</small>
			<!-- Show owner filter -->
			<span class="label label-default label-filter" ng-show="key == 'owner_id'">
				<span title="Owned By" class="current-filter-text">{{users.get(value).first_name}} {{users.get(value).last_name}}</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			<!-- Show group filter -->
			<span class="label label-default label-filter" ng-style="{backgroundColor:groups.get(value).color}" ng-show="key == 'group'">
				<span class="current-filter-text">{{groups.get(value).name}}</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			<!-- Show status filter -->
			<span class="label label-default label-filter" ng-show="key == 'status_id'" ng-style="{backgroundColor:status.get(contacts.filters.status_id).color}">
				<span class="current-filter-text">{{status.get(contacts.filters.status_id).name}}</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			
			<span class="label label-default label-filter" ng-show="key == 'type'">
				<span class="current-filter-text">{{value}}</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			
			<span class="label label-default label-filter" ng-show="key == 'todo'">
				<span class="current-filter-text">todo</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			
			<span class="label label-default label-filter" ng-show="key == 'letter'">
				<span class="current-filter-text">{{value}}</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			
			<span class="label label-default label-filter" ng-show="key == 'name'">
				<span class="current-filter-text">{{value}}</span> 
				<a style="float:none;line-height:9px;font-size:15px" class="close" ng-click="removeFilter(key)">&times;</a>
			</span>
			
		</span>
		<span class="pull-right label label-info label-badge" title="Number of contacts">{{contacts.pagination.item_count}}</span>

	</div>

</div>

<ul ng-style="{top:getTop()}" ng-show="!contacts.filters.todo" ng-cloak class="man col pan" style="list-style-type: none;" when-scrolled-down="contacts.loadMore()" when-scrolled-up="contacts.loadPrev()">
	<li class="contact-list-item" ng-repeat="contact in contacts.collection.array | orderBy:'name'" ng-class="{'active':isCurrent(contact), 'checked':isChecked(contact)}" ng-click="selectContact(contact)" draggable="{{contact.id}}">
		<div class="letter" letter index="{{$index}}" contact-name="{{contact.name}}"></div>
		<div class="media contact-li">
			<div class="pull-left">
				<input class="mrs mbs" ng-click="checkContact($event, contact.id)" ng-checked="isChecked(contact)" class='pull-left' type="checkbox" />
				 <!--<i class="pull-left icon icon-star-empty" style="opacity:0.5"></i>-->
				<a ng-href="{{contact.url}}"><img class="br50" width="24" ng-src="{{contact.image_url}}"></a>
			</div>
			<div class="">
				<button class="pull-right close" ng-show="isUserDefinedGroup()" ng-click="removeFromGroup(contact)" type="button">&times;</button>
				<span ng-show="contact.name">{{contact.name}}</span>
				<i ng-show="!contact.name">No Name</i>
				<a ng-show="contact.company" ng-href="#/contact/{{contact.company.id}}"><small>{{contact.company.name}}</small></a>
			</div>
		</div>
	</li>
	<li ng-style="{top:getTop()+42}" ng-show="!contacts.collection.loading" class="letter letter-fixed" letter-scroll watch-first-li="{{contacts.data.results[0]}}"></li>
</ul>

<ul ng-style="{top:getTop()}" style="border-top:1px solid #ccc;list-style-type: none;" ng-show="contacts.filters.todo" ng-cloak class="man col pan" when-scrolled-down="contacts.loadMore()" when-scrolled-up="contacts.loadPrev()">
	<li class="contact-list-item" ng-repeat="contact in contacts.collection.array | orderBy:'action.due'" ng-class="{'active':isCurrent(contact), 'checked':isChecked(contact)}" ng-click="selectContact(contact)" draggable="{{contact.id}}">
		<div class="media contact-li">
			<div class="pull-left">
				<input class="mrs mbs" ng-click="checkContact($event, contact.id)" ng-checked="isChecked(contact)" class='pull-left' type="checkbox" />
				<a ng-href="{{contact.url}}"><img class="br50" width="24" ng-src="{{contact.image_url}}"></a>
			</div>
			<div class="media-body">
				<span ng-show="contact.name">{{contact.name}}</span> <a ng-show="contact.company" ng-href="#/contact/{{contact.company.id}}"><small>{{contact.company.name}}</small></a>
				<i ng-show="!contact.name">No Name</i>
				<span class="label label-important pull-right" ng-style="{backgroundColor:actionService.dueColor(contact.action)}">{{actionService.dueLabel(contact.action)}}</span>
				<br />
				<small class="action text-muted">{{contact.action.action}}</small>
			</div>
		</div>
	</li>
</ul>

<!--<div ng-show="contacts.collection.loading" class="ng-cloak ng-cloak-show">Loading...</div>-->

<div ng-show="contacts.collection.loading" class="loader" style="position:absolute;left:50%;margin-left:-55px;top:100px;">
	<div class="loader-spinner pull-left"></div>
	<div class="loader-text">Loading...</div>
</div>