<div class="col" style="top:10px;">
	<div class="group"  ng-class="{'active':contacts.filters == null}"><a ng-click="groupAll()" >All <small>({{companiesCount+contactsCount}})</small></a></div>
	<div class="group" ng-class="{'active':contacts.filters.type == 'contact'}"><a href="#/contacts" >Contacts <small>({{contactsCount}})</small></a></div>
	<div class="group" ng-class="{'active':contacts.filters.type == 'company'}"><a href="#/companies" >Companies  <small>({{companiesCount}})</small></a></div>
	
	<!-- Team Filters -->
	<div class="group" ng-class="{'active':contacts.filters.owner_id == user_id}">
		<a href="#/my/contacts">My Contacts <small>({{contacts.collection.count.ownedByMe}})</small></a>
	</div>

	<!-- Status Filters -->
	<a class="group group-header nav-header pas plm" style="text-decoration: none;" ng-click="statusVisibleToggle()" href="#">
		Status <span ng-class="{'icon-caret-down':statusVisible, 'icon-caret-right':!statusVisible}" style="margin:8px 0 0 5px;border-top-color:#999;"></span>
	</a>
	<div ng-show="statusVisible">
		<div droppable-state="{{status.id}}" ng-repeat="status in status.array" class="group ng-cloak plm" ng-class="{'active':contacts.filters.status_id==status.id}">
			<a ng-click="filterStatus(status.id)" href="#" style="color:{{status.color}}">{{status.name}} <small>({{status.count}})</small></a>
		</div>
	</div>
	<!-- //end -->
	
	<!-- Group Filters -->
	<a class="group group-header nav-header pas plm" style="text-decoration: none;" ng-click="grpVisibleToggle()" href="#">
		Groups <span ng-class="{'icon-caret-down':grpVisible, 'icon-caret-right':!grpVisible}" style="margin:8px 0 0 5px;border-top-color:#999;"></span>
	</a>
	<div ni-sortable ni-model-name="group" ni-model-order-field="order" ng-show="grpVisible">
		<div droppable="{{group.id}}" ng-repeat="group in groups.array | orderBy:groupOrderValue" class="group ng-cloak plm" ng-class="{'active':contacts.filters.group == group.id}">
			<div colorpicker on-hide="updateColor(group)" data-color="{{group.color}}" ng-model="group.color" class="group-color" ng-click="color(group)" style="background-color:{{group.color}}">&nbsp;</div> 
			<a ng-hide="group.editing" ng-dblclick="startEditing(group);" href="#/tag/{{group.name}}">{{group.name}} <small ng-show="group.contacts_count" >({{group.contacts_count}})</small></a>
			<div ng-show="group.editing" class="lastUnit">
				<form style="margin:0;padding-top:1px;" ng-submit="doneEditing(group)" ><!--ng-submit="doneEditing(group)"-->
					<input style="margin:0;border-radius:0" class="input-block-level" type="text" ng-model="group.name" focus-me-if="group == editedGroup" ng-blur="doneEditing(group)">
				</form>
			</div>
		</div>
		<div class="text-left  plm mbm group"><a ng-click="addGroup()"><i class="icon-plus"></i> New Group</a></div>
	</div>
	<!-- //end -->
	
	<!-- Team Filters -->
	<a class="group group-header nav-header pas plm" style="text-decoration: none;" ng-click="teamVisibleToggle()" href="#">
		Team <span ng-class="{'icon-caret-down':teamVisible, 'icon-caret-right':!teamVisible}" style="margin:8px 0 0 5px;border-top-color:#999;"></span>
	</a>
	<div ng-show="teamVisible">
		<div ng-repeat="user in users.array" class="group plm" ng-class="{'active':contacts.filters.owner_id == user.id}" >
			<a href="#" ng-click="filterByUser(user.id)">{{user.first_name}} {{user.last_name}}<small></small></a>
		</div>
	</div>
	<!-- //end -->

	
	<div class="ng-cloak ng-cloak-show"><span class="loading-spinner">loading</span></div>
	
</div>