<div class="pam">
	
	<h3>Google Calendar (gCal)</h3>
	<ol>
		<li>Go to https://www.google.com/calendar to access your Google Calendar.</li>
		<li>In the left column under Other Calendars section, click on the down pointing arrow to open drop-down list</li>
		<li>From the drop-down list select Add by URL.</li>
		<li>Enter the Calendar Address URL <code>https://hub.newicon.net/crm/index/ical</code> in the dialog box then click Add Calendar.</li>
		<li>Your sales actions should now appear in your Google Calendar.</li>
	</ol>
	<div class="alert alert-warning">
		<strong>NOTE:</strong> In Google Calendar it is not possible to manually set how often the calendar is refreshed. The feed itself suggests every hour. But google may poll it at different frequency
	</div>
	
	<h3>Apple's iCal</h3>
	<ol>
		<li>Open your iCal.</li>
		<li>From the Calendar menu select Subscribe.</li>
		<li>Paste Calendar Address URL copied earlier into Calendar URL field then click Subscribe.</li>
		<li>Change the name and color (if you like) and update the Auto-refresh frequency to Every day, then click OK.</li>
		<li>Your sales actions should now appear in your iCal calendar.</li>
	</ol>
	
	<h3>Outlook.com Calendar</h3>
	<ol>
		<li>Go to https://calendar.live.com to access your Outlook Calendar.</li>
		<li>In the top bar, click on Import option.</li>
		<li>In the left column, click on Subscribe.</li>
		<li>Paste the copied Calendar Address URL in the Calendar URL field.</li>
		<li>Enter a desired name for the calendar in the Calendar Name field.</li>
		<li>Change the color and assign charm (optional), then click Subscribe.</li>
		<li>Your sales actions should now appear in your Outlook Calendar.</li>
	</ol>
	<div class="alert alert-warning">
		<strong>NOTE:</strong> In Outlook Calendar it is not possible to manually set how often the calendar is refreshed. The feed itself suggests every hour. But Outlook may poll it at different frequency
	</div>
	
</div>