<div style="width:100%">
	<div class="crm-timeline crm-timeline-deal" ng-hide="(showDealForm || saving)">
		<button class="fake-input" ng-class="(showDealForm || saving) ? 'active disabled' : ''" ng-click="addDeal()" class="btn">
			<span ng-show="!saving">Add a new deal...</span>
			<span ng-show="saving">Saving...</span>
		</button>
	</div>
	<div ng-show="showDealForm" class="crm-timeline crm-timeline-deal">
		<form class="mbn pvm" novalidate name="dealForm" ng-submit="dealForm.$valid && save()">
			<div class="line mbs">
				<div class="unit">
					<input required id="deal_name" name="dealName" class="input-xlarge input-invisible" style="border-bottom:1px dashed;" placeholder="Deal Name" type="text" ng-model="deal.name" /> <br/>
				</div>
			</div>
			<div class="line mbs">
				<div class="unit mrm">
					<div class="input-prepend">
						<span class="add-on" style="border:0;background:transparent;text-align:left;width:150px;">
							<a ng-hide="deal.multi_month" ng-click="deal.multi_month = 1" href="#" style="border:0;background:transparent;">Single value of:</a>
							<a ng-hide="!deal.multi_month" ng-click="deal.multi_month = 0; deal.month_count = 0;" href="#">Multi month value of:</a>
							<span class="pull-right">&pound;</span>
						</span>
						<input required currecny-input name="dealAmount" class="input-invisible" style="width: 63px;border-bottom: 1px dashed;font-weight: bold;border-bottom:1px dashed" placeholder="Amount" type="text" ng-model="deal.amount" />
					</div>
					<div ng-show="deal.multi_month" class="input-prepend input-append" >
						<span class="add-on" style="border:0;background:transparent;">x</span>
						<input class="input-invisible" style="width:25px;border-bottom: 1px dashed;font-weight: bold;border-bottom:1px dashed" placeholder="" type="text" ng-model="deal.month_count" />
						<span class="add-on" style="color:#999;border:0;background:transparent;">months (total value &pound;{{deal.amount * deal.month_count}})</span>
					</div>
				</div>
				<div class="unit mrm">
					<deal-status-dd deal="deal"></deal-status-dd>
				</div>
				<div class="unit mrm">
					<div class="input-prepend">
						<span class="add-on" style="color:#999;border:0;background:transparent;">chance it will close on</span>
						<input name="dealClose" required placeholder="Date" class="input-invisible" style="width:100px;border-bottom: 1px dashed;" type="text" datey ng-model="deal.close_date" />
					</div>
				</div>
			</div>
			<div class="line mbs">	
				<div class="lastUnit">
					<textarea placeholder="Deal description" style="box-sizing:border-box;width:100%;border-bottom:1px dashed;" class="input-invisible" ng-model="deal.description" rows="1"></textarea>
				</div>
			</div>
			<div class="line">
				<input type="submit" class="btn btn-primary" ng-value="Save"> <button class="btn btn-link" ng-click="close()">Cancel</button>
				<small class="text-danger" ng-show="!dealForm.$valid">There are still some fields that need completing</small>
			</div>
		</form>
	</div>
	<div ng-repeat="deal in DealService.models">
		<h6 class="mbn" style="font-weight:normal"><i class="icon-trophy"></i> Pending Deal</h6>
		<div class="crm-timeline crm-timeline-deal">
			{{deal.name}}<br/>
			<hr class="mbs mts"/>
			<strong ng-show="deal.multi_month==0">{{deal.amount | currency:'£'}}</strong>
			<strong ng-hide="deal.multi_month==0">{{deal.amount * deal.month_count | currency:'£'}} <span ng-show="deal.multi_month" style="font-weight:normal">({{deal.amount | currency:'£'}} x {{deal.month_count}} months)</span></strong>
			- <deal-status-dd deal="deal" save-changes="true"></deal-status-dd> chance it will close on <deal-datepicker style="display:inline-block;" deal="deal" save-changes="true" ng-model="deal.close_date"></deal-datepicker> <br />
			<small>{{deal.description}}</small>
		</div>
	</div>
</div>