<div class="dropdown" style="display:inline-block;">
	<a class="dropdown-toggle" ng-class="'STAGE_' + deal.status" data-toggle="dropdown" href="javascript:void;">
		{{deal.status| stageStatusLabel}}<span class="caret"></span>
	</a>
	<ul class="dropdown-menu spikey" role="menu" aria-labelledby="dLabel">
		<li ng-repeat="state in status.getAllPending()">
			<a ng-class="'STAGE_'+state.id" ng-click="setDealStatus(deal, state.id)" tabindex="-1" href>{{state.percent}}%</a>
		</li>
		<li><a class="STAGE_WON"  ng-click="setDealStatus(deal, 'WON')"   tabindex="-1" href>Won</a></li>
		<li><a class="STAGE_LOST" ng-click="setDealStatus(deal, 'LOST')" tabindex="-1" href>Lost</a></li>
		<li><a class="STAGE_LOST" ng-click="setDealStatus(deal, 'DORMANT')" tabindex="-1" href>Dormant</a></li>
	</ul>
</div>