<div class="pam">
	
	
	<h4>Pipeline</h4>
	<div class="line">
		
		<div class="btn-group pull-right mbs">
			<button class="btn btn-default" ng-class="deals.amountByPercent ? 'active' : ''" ng-click="byPercent()">Amount by Percent</button>
			<button class="btn btn-default" ng-class="deals.amountByPercent ? '' : 'active'" ng-click="byPercent()">Full Amount</button>
		</div>
	</div>
	<div class="pipeline-grid">
		<!-- Dates -->
		<div class="line pipeline-row pipeline-date-row">
			<div class="unit crm-pipe-col0">Pipeline</div>
			<div class="unit crm-pipe-col1 pipe-cell">
				<button style="position:absolute;top:7px;left:10px;" class="btn btn-default btn-pipeline-left" ng-click="dateBack()"><i class="glyphicon glyphicon-chevron-left"></i></button>
				<strong>{{dealDate.get(1).date | date:'MMM y'}}</strong>
			</div>
			<div class="unit crm-pipe-col2 pipe-cell"><strong>{{dealDate.get(2).date | date:'MMM y'}}</strong></div>
			<div class="unit crm-pipe-col3 pipe-cell"><strong>{{dealDate.get(3).date | date:'MMM y'}}</strong></div>
			<div class="unit crm-pipe-col4 pipe-cell"><strong>{{dealDate.get(4).date | date:'MMM y'}}</strong></div>
			<div class="unit crm-pipe-col5 pipe-cell"><strong>{{dealDate.get(5).date | date:'MMM y'}}</strong></div>
			<div class="unit crm-pipe-col6 pipe-cell">
				<strong>{{dealDate.get(6).date | date:'MMM y'}}</strong>
				<button style="position:absolute;top:7px;right:10px;" class="btn btn-default btn-pipeline-right" ng-click="dateForward()"><i class="glyphicon glyphicon-chevron-right"></i></button>
			</div>
		</div>
		<!-- Pending deal funnel -->
		<div ng-repeat="stage in statusService.getAllPending()" class="line pipeline-row">
			<div class="crm-pipe-col0 unit" style="background-color:#aaa;">
				<div class="pipeline-funnel" ng-class="'pipeline-'+stage.id"><strong style="font-size:18px;">{{stage.percent}}%</strong> <br/><small>{{stage.name}}</small></div>
			</div>
			<div class="unit crm-pipe-col1 pipe-cell" ng-class="dealDate.get(1).getDealAmountForState(stage.id)==0 ? 'pipe-subtle' : ''">{{dealDate.get(1).getDealAmountForState(stage.id) | currency:'£' | stripZeros}} <small class="deal-count">({{dealDate.get(1).getDealCountForState(stage.id)}})</small></div>
			<div class="unit crm-pipe-col2 pipe-cell" ng-class="dealDate.get(2).getDealAmountForState(stage.id)==0 ? 'pipe-subtle' : ''">{{dealDate.get(2).getDealAmountForState(stage.id) | currency:'£' | stripZeros}} <small class="deal-count">({{dealDate.get(2).getDealCountForState(stage.id)}})</small></div>
			<div class="unit crm-pipe-col3 pipe-cell" ng-class="dealDate.get(3).getDealAmountForState(stage.id)==0 ? 'pipe-subtle' : ''">{{dealDate.get(3).getDealAmountForState(stage.id) | currency:'£' | stripZeros}} <small class="deal-count">({{dealDate.get(3).getDealCountForState(stage.id)}})</small></div>
			<div class="unit crm-pipe-col4 pipe-cell" ng-class="dealDate.get(4).getDealAmountForState(stage.id)==0 ? 'pipe-subtle' : ''">{{dealDate.get(4).getDealAmountForState(stage.id) | currency:'£' | stripZeros}} <small class="deal-count">({{dealDate.get(4).getDealCountForState(stage.id)}})</small></div>
			<div class="unit crm-pipe-col5 pipe-cell" ng-class="dealDate.get(5).getDealAmountForState(stage.id)==0 ? 'pipe-subtle' : ''">{{dealDate.get(5).getDealAmountForState(stage.id) | currency:'£' | stripZeros}} <small class="deal-count">({{dealDate.get(5).getDealCountForState(stage.id)}})</small></div>
			<div class="unit crm-pipe-col6 pipe-cell" ng-class="dealDate.get(6).getDealAmountForState(stage.id)==0 ? 'pipe-subtle' : ''">{{dealDate.get(6).getDealAmountForState(stage.id) | currency:'£' | stripZeros}} <small class="deal-count">({{dealDate.get(6).getDealCountForState(stage.id)}})</small></div>
		</div>
		<!-- Total pending -->
		<div class="line pipeline-row pts">
			<div class="unit crm-pipe-col0">
				<div class="pipeline-funnel" style="text-align:center;box-sizing:border-box;padding-top:8px;"><strong style="font-size:18px;">Total Pending</strong></div>
			</div>
			<div class="unit crm-pipe-col1 pipe-cell" ng-class="dealDate.get(1).getDealPendingAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(1).getDealPendingAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col2 pipe-cell" ng-class="dealDate.get(2).getDealPendingAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(2).getDealPendingAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col3 pipe-cell" ng-class="dealDate.get(3).getDealPendingAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(3).getDealPendingAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col4 pipe-cell" ng-class="dealDate.get(4).getDealPendingAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(4).getDealPendingAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col5 pipe-cell" ng-class="dealDate.get(5).getDealPendingAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(5).getDealPendingAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col6 pipe-cell" ng-class="dealDate.get(6).getDealPendingAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(6).getDealPendingAmount() | currency:'£' | stripZeros}}</div>
		</div>
		<!-- Total won -->
		<div class="line pipeline-row pbs pipeline-row-won">
			<div class="unit crm-pipe-col0 ">
				<div class="pipeline-title" style="box-sizing:border-box;padding-top:8px;"><strong style="font-size:18px;">Total Won</strong></div>
			</div>
			<div class="unit crm-pipe-col1 pipe-cell" ng-class="dealDate.get(1).getDealTotalWonAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(1).getDealTotalWonAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col2 pipe-cell" ng-class="dealDate.get(2).getDealTotalWonAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(2).getDealTotalWonAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col3 pipe-cell" ng-class="dealDate.get(3).getDealTotalWonAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(3).getDealTotalWonAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col4 pipe-cell" ng-class="dealDate.get(4).getDealTotalWonAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(4).getDealTotalWonAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col5 pipe-cell" ng-class="dealDate.get(5).getDealTotalWonAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(5).getDealTotalWonAmount() | currency:'£' | stripZeros}}</div>
			<div class="unit crm-pipe-col6 pipe-cell" ng-class="dealDate.get(6).getDealTotalWonAmount()==0 ? 'pipe-subtle' : ''">{{dealDate.get(6).getDealTotalWonAmount() | currency:'£' | stripZeros}}</div>
		</div>
		<!-- Total Won + Pending -->
		<div class="line pipeline-row">
			<div class="unit crm-pipe-col0">
				<div class="pipeline-title"><strong style="font-size:18px;">Expected Total</strong> <br/> <small>Won + Pending</small></div>
			</div>
			<div class="unit crm-pipe-col1 pipe-cell" ng-class="dealDate.get(1).getDealTotalWonAndPending()==0 ? 'pipe-subtle' : ''"><strong>{{dealDate.get(1).getDealTotalWonAndPending() | currency:'£' | stripZeros}}</strong></div>
			<div class="unit crm-pipe-col2 pipe-cell" ng-class="dealDate.get(2).getDealTotalWonAndPending()==0 ? 'pipe-subtle' : ''"><strong>{{dealDate.get(2).getDealTotalWonAndPending() | currency:'£' | stripZeros}}</strong></div>
			<div class="unit crm-pipe-col3 pipe-cell" ng-class="dealDate.get(3).getDealTotalWonAndPending()==0 ? 'pipe-subtle' : ''"><strong>{{dealDate.get(3).getDealTotalWonAndPending() | currency:'£' | stripZeros}}</strong></div>
			<div class="unit crm-pipe-col4 pipe-cell" ng-class="dealDate.get(4).getDealTotalWonAndPending()==0 ? 'pipe-subtle' : ''"><strong>{{dealDate.get(4).getDealTotalWonAndPending() | currency:'£' | stripZeros}}</strong></div>
			<div class="unit crm-pipe-col5 pipe-cell" ng-class="dealDate.get(5).getDealTotalWonAndPending()==0 ? 'pipe-subtle' : ''"><strong>{{dealDate.get(5).getDealTotalWonAndPending() | currency:'£' | stripZeros}}</strong></div>
			<div class="unit crm-pipe-col6 pipe-cell" ng-class="dealDate.get(6).getDealTotalWonAndPending()==0 ? 'pipe-subtle' : ''"><strong>{{dealDate.get(6).getDealTotalWonAndPending() | currency:'£' | stripZeros}}</strong></div>
		</div>
		<!-- Targets -->
		<div class="line pipeline-row">
			<div class="unit crm-pipe-col0">
				<div class="pipeline-title" style="box-sizing:border-box;padding-top:8px;"><strong style="font-size:18px;">Targets</strong></div>
			</div>
			<div class="unit crm-pipe-col1 pipe-cell">0</div>
			<div class="unit crm-pipe-col2 pipe-cell">0</div>
			<div class="unit crm-pipe-col3 pipe-cell">0</div>
			<div class="unit crm-pipe-col4 pipe-cell">0</div>
			<div class="unit crm-pipe-col5 pipe-cell">0</div>
			<div class="unit crm-pipe-col6 pipe-cell">0</div>
		</div>
	</div>
	
	<h4>All Pending Deals</h4>
	<div class="table">
		<table class="w100pct table">
			<thead>
				<tr>
					<th class="crm-deal-col1">Contact name</th>
					<th class="crm-deal-col2">Deal name</th>
					<th class="crm-deal-col3">Deal owner</th>
					<th class="crm-deal-col4">Amount</th>
					<th class="crm-deal-col5">Deal stage</th>
					<th class="crm-deal-col6">Exp. close date</th>
					<th class="crm-deal-col7">Deal created</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="deal in deals.models | filter:filterByOpen">
					<td class="crm-deal-col1"><deal-contact deal="deal"></deal-contact></td>
					<td class="crm-deal-col2">{{deal.name}}</td>
					<td class="crm-deal-col3">{{deal.owner_first_name}} {{deal.owner_last_name}}</td>
					<td class="crm-deal-col4"><deal-amount deal="deal"></deal-amount></td>
					<td class="crm-deal-col5"><deal-status-dd  deal="deal" save-changes="true"></deal-status-dd></td>
					<td class="crm-deal-col6"><deal-datepicker deal="deal" save-changes="true" ng-model="deal.close_date"></deal-datepicker></td>
					<td class="crm-deal-col7">{{deal.created_on | mysqlDate:'d MMM yyyy'}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr >
					<td class="crm-deal-col1">&nbsp;</td>
					<td class="crm-deal-col2">&nbsp;</td>
					<td class="crm-deal-col3">&nbsp;</td>
					<td class="crm-deal-col4"><strong>{{ deals.getAmountTotal('open') | currency:'£' }}</strong></td>
					<td class="crm-deal-col5">&nbsp;</td>
					<td class="crm-deal-col6">&nbsp;</td>
					<td class="crm-deal-col7">&nbsp;</td>
				</tr>
			</tfoot>

		</table>
	</div>
	<h4>Recently closed deals (Won or Lost)</h4>
	<div class="table">
		<table class="w100pct table">
			<thead>
				<tr>
					<th class="crm-deal-col1">Contact name</th>
					<th class="crm-deal-col2">Deal name</th>
					<th class="crm-deal-col3">Deal owner</th>
					<th class="crm-deal-col4">Amount</th>
					<th class="crm-deal-col5">Deal stage</th>
					<th class="crm-deal-col6">Exp. close date</th>
					<th class="crm-deal-col7">Deal created</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="deal in deals.models | filter:filterByClosed">
					<td class="crm-deal-col1"><deal-contact deal="deal"></deal-contact></td>
					<td class="crm-deal-col2">{{deal.name}}</td>
					<td class="crm-deal-col3">{{deal.owner_first_name}} {{deal.owner_last_name}}</td>
					<td class="crm-deal-col4"><deal-amount deal="deal"></deal-amount></td>
					<td class="crm-deal-col5"><deal-status-dd deal="deal" save-changes="true"></deal-status-dd></td>
					<td class="crm-deal-col6"><deal-datepicker deal="deal" save-changes="true" ng-model="deal.close_date"></deal-datepicker></td>
					<td class="crm-deal-col7">{{deal.created_on | mysqlDate:'d MMM yyyy'}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td class="crm-deal-col1"></td>
					<td class="crm-deal-col2"></td>
					<td class="crm-deal-col3"></td>
					<td class="crm-deal-col4"><strong>{{deals.getAmountTotal('closed') | currency:'£'}}</strong></td>
					<td class="crm-deal-col5"></td>
					<td class="crm-deal-col6"></td>
					<td class="crm-deal-col7"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>