.icon-subtle{color:#ccc;}
.well.well-transparent{background-color:transparent;box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05)}
.well.well-light{background-color:#f9f9f9;}
.badge.badge-attribute-label{line-height:11px;font-size:9px;padding:2px 6px;border-radius:9px;box-shadow:none;background-color:#aaa;}
[ng\:cloak], [ng-cloak], .ng-cloak, .ng-cloak-show {display: none !important;}
.ng-cloak.ng-cloak-show{display:block !important;}

.app{position:absolute;top:41px;left:0px;right:0px;bottom:0;border-top:1px solid #BDBDBD;}
.col{position: absolute;overflow: hidden;top:0px;bottom:0px;overflow-y:auto}
.col.crm-nav{left:-1px;right:0px;width:80px;background-color:#2c2c2d; }
.col.crm-nav .menu-item.icon-calendar {font-size:24px;}
.col.crm-group{left:80px;width:200px;border-right:1px solid #ccc}
.col.crm-list{left:281px;width:401px;border-right:1px solid #ccc}
.col.crm-detail{left:682px;right:0px;}

.toolbar{border-bottom:1px solid #999;height:35px;background-color:#eee;position:relative;z-index:1;box-sizing:border-box;padding:2px 10px 0 10px;background:linear-gradient(to bottom, #f9f9f9 1%,#DFDFDF 100%)}
.col .col{left:0px;right:0px;top:36px;}

/* contact list items */
.contact-li.media{margin-top:0;text-overflow:ellipsis;overflow:hidden;border-bottom:1px solid #d9d9d9;padding:7px 12px 5px 10px;cursor:pointer;background-color:#fff;}

.active .contact-li{background:#E4F0FF;/*box-shadow: inset 0px 0px 3px rgba(0,0,0,0.4);border-top: 1px solid #999;border-bottom: 1px solid #aaa;*/}
.checked .contact-li{background-color:#E4F0FF;border-top-color:#E4F0FF}
.checked.active .contact-li{background-color:#E4F0FF;}
.checked.dragging{opacity:0.5}
/* group item */
.group a {display:block;padding:3px 12px 3px 10px;cursor:pointer;}
.group a:hover{text-decoration: none;}
.group {display:block;/*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9');border-bottom:1px solid #d6d6d6;*/text-overflow:ellipsis;overflow:hidden;}
.group:hover{background:#f9f9f9;}
.group.active {background:#E4F0FF;}
.group-color{width: 10px;float: left;border-radius: 2px;padding: 0;height: 10px;margin:8px 5px 5px 10px;}

.popup{position:absolute;width:200px;height:50px;background:white;border:1px solid #000;}
.popup.visible{}

.group.drop-hover a {background:none;background-color:#FFFDE4;}

.crm-detail-pane{padding:15px 10px 10px 20px;}
.crm-detail{background-color:#f9f9f9;box-shadow:inset 1px 0px 3px rgba(0,0,0,0.1)}

.letter{display:none;opacity:0.8;padding:0px 10px;text-shadow: 0px 1px white;color:#777;font-weight: bold;border-bottom:1px solid #ccc;background: #f9f9f9; /* Old browsers */background: -moz-linear-gradient(top,  #f9f9f9 1%, #eeeeee 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f9f9f9), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #f9f9f9 1%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #f9f9f9 1%,#eeeeee 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #f9f9f9 1%,#eeeeee 100%); /* IE10+ */background: linear-gradient(to bottom,  #f9f9f9 1%,#eeeeee 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */}
.letter-fixed{top:78px;display:block;position:fixed;width:400px;z-index:1;box-sizing:border-box;border-top:1px solid #ddd;}
/* make bootstrap labels smaller to display group badges */
.label-group{font-weight:normal;font-size:11px;}

.ui-resizable-handle.ui-resizable-e{width:15px;cursor:col-resize;}

.crm-timeline{padding:10px;margin-bottom:10px;background-color:#E2F2FA;border-radius:0px;border-style:solid;border-width:0px 0px 0px 5px;box-shadow:0px 1px 1px 0px rgba(0,0,0,.3);color:#333;position:relative;}
.crm-timeline.crm-timeline-action{background-color:#E2F2FA;border-color:#bce8f1;}
.crm-timeline.crm-timeline-deal{background-color:#FFFFFF;border-color:#BDBDBD;}
.crm-timeline.crm-timeline-note{background-color:#FFFFE7;border-color:#F7F0A8;}

.show-on-hover{display:none;}
.alert:hover .show-on-hover{display:block;}
a.icon-menu-item {display:block;margin:15px 0 0 0px;text-align:center;color:#ababab;text-shadow: 0 0 1px #000;font-size:12px;-webkit-font-smoothing: antialiased;}
a.icon-menu-item i{font-size:26px;color:#ababab;}
a.icon-menu-item:hover {color:#fff;text-decoration:none;}
a.icon-menu-item:active, a.icon-menu-item:focus {text-decoration:none;color:#A1E1FF;}
a.icon-menu-item.active {color:#A1E1FF;}
a.icon-menu-item.active i {color:#A1E1FF;}


.loader{z-index:5;padding:5px;border:1px solid #333;border-radius:20px;width:115px;height:42px;color:#fff;background-color:#666;position:absolute;background: -webkit-linear-gradient(top, rgba(100,100,100,0.8) 0%,rgba(70,70,70,0.8) 100%); /* Chrome10+,Safari5.1+ */}
.loader-spinner{background-image: url('images/ajax-loader.gif');width:31px;height:31px;margin-right:5px;}
.loader-text{margin-top: 4px;text-shadow: 0px -1px #000;}

.crm-list{background-color:#f9f9f9;}

.btn.btn-letter{padding:0px 2px;}
.btn.btn-letter:hover, .btn.btn-letter:focus, .btn.btn-letter:active, .btn.btn-letter.active, .btn.btn-letter.disabled, .btn.btn-letter[disabled]{background-color:transparent;text-decoration:none;}
.btn.btn-letter.active, .btn.btn-letter:active{box-shadow:none;-webkit-box-shadow:none;}

.br50{border-radius:50px;}
.alert-action .send-to-cal{visibility: hidden;}
.alert-action:hover .send-to-cal{visibility: visible;}

.STAGE_PENDING_10, .dropdown-menu > li > a.STAGE_PENDING_10, .btn.STAGE_PENDING_10{color:rgb(224, 0, 0);}
.STAGE_PENDING_25, .dropdown-menu > li > a.STAGE_PENDING_25, .btn.STAGE_PENDING_25{color:rgb(224, 0, 0);}
.STAGE_PENDING_50,.dropdown-menu > li > a.STAGE_PENDING_50, .btn.STAGE_PENDING_50{color:rgb(244, 139, 0);}
.STAGE_PENDING_75,.dropdown-menu > li > a.STAGE_PENDING_75, .btn.STAGE_PENDING_75{color:rgb(244, 139, 0);}
.STAGE_PENDING_90,.dropdown-menu > li > a.STAGE_PENDING_90, .btn.STAGE_PENDING_90{color:rgb(63, 147, 6);}
.STAGE_WON,.dropdown-menu > li > a.STAGE_WON, .btn.STAGE_WON{color:green;font-weight:bold}
.STAGE_LOST,.dropdown-menu > li > a.STAGE_LOST, .btn.STAGE_LOST{color:grey;}

.label.BG_STAGE_PENDING_10{background-color:rgb(224, 0, 0);}
.label.BG_STAGE_PENDING_25{background-color:rgb(224, 0, 0);}
.label.BG_STAGE_PENDING_50{background-color:rgb(244, 139, 0);}
.label.BG_STAGE_PENDING_75{background-color:rgb(244, 139, 0);}
.label.BG_STAGE_PENDING_90{background-color:rgb(63, 147, 6);}
.label.BG_STAGE_WON{background-color:green;font-weight:bold}
.label.BG_STAGE_LOST{background-color:grey;}
input.input-invisible:focus:invalid:focus, textarea.input-invisible:focus:invalid:focus, select.input-invisible:focus:invalid:focus{box-shadow:none;}
textarea.input-invisible:focus, input[type="text"].input-invisible:focus, select.input-invisible:focus{box-shadow:none;}
input[type="text"].input-invisible,textarea.input-invisible{border: 0; border-radius: 0; box-shadow: none; background-color: transparent}
.label.label-filter{padding-right:4px;margin-bottom:3px;margin-right:3px;display:inline-block;}
/*.current-filter-text{font-weight:bold;}*/


/* Styles for the pipeline */
.w5pct{width:10%}.w10pct{width:10%}.w15pct{width:15%}.w20pct{width:20%}.w25pct{width:25%}.w30pct{width:30%}.w100pct{width:100%}
.crm-deal-col1{width:25%;}.crm-deal-col2{width:25%;}.crm-deal-col3{width:10%;}.crm-deal-col4{width:10%;}.crm-deal-col5{width:7%;}.crm-deal-col6{width:10%;}.crm-deal-col7{width:10%;}
.crm-pipe-col0{width:19%;}.crm-pipe-col1{width:13.5%}.crm-pipe-col2{width:13.5%}.crm-pipe-col3{width:13.5%}.crm-pipe-col4{width:13.5%}.crm-pipe-col5{width:13.5%}.crm-pipe-col6{width:13.5%}
.pipeline-PENDING_10{width:90%;text-align:center;}
.pipeline-PENDING_25{width:74%;text-align:center;}
.pipeline-PENDING_50{width:58%;text-align:center;}
.pipeline-PENDING_75{width:42%;text-align:center;}
.pipeline-PENDING_90{width:26%;text-align:center;}
.pipeline-funnel{margin:auto;height:45px;color:white;padding-top:3px;background-color:#B83A3A;}
.pipeline-row{margin:1px 0 1px 1px;}
.pipeline-title{height:42px;padding-top:3px;text-align:center;background-color:#777;color:#fff;}
.pipeline-grid{background-color:#ddd;padding:1px;}
/* Set position relative for the date columns so that an absolutely positione3d left and right button can be added to the cell */
.pipeline-date-row .crm-pipe-col1, .pipeline-date-row .crm-pipe-col6{position:relative;}

.deal-count{color: #999;font-weight: 200;}
.pipeline-row.pipeline-row-won .pipe-cell{color:green;}
.pipeline-row.pipeline-row-won .pipe-cell.pipe-subtle, .pipe-subtle{color:#999;}
.pipe-cell{line-height:45px;text-align:center;background-color:#fff;border-right: 1px solid #ccc;box-sizing: border-box;}
.spikey.dropdown-menu:before {position: absolute;top: -7px;left: 9px;display: inline-block;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-left: 7px solid transparent;border-bottom-color: rgba(0, 0, 0, 0.2);content: '';}
.spikey.dropdown-menu:after {position: absolute;top: -6px;left: 10px;display: inline-block;border-right: 6px solid transparent;border-bottom: 6px solid #ffffff;border-left: 6px solid transparent;content: '';}

/** Display a button so it looks like an input box **/
.fake-input{box-shadow:none;background-image:none;background:#fff;border:1px solid #ccc;color:#999;width:100%;box-sizing:border-box;cursor:text;text-align:left;}