<div style="width:100%">
	 
	<div ng-hide="showAddNoteForm" class="crm-timeline crm-timeline-note">
		<button class="fake-input" ng-click="addNote()" class="btn">Add Note...</button>
	</div>
	
	<div class="crm-timeline crm-timeline-note" ng-class="showAddNoteForm ? 'show' : 'hide'">
		<form class="mbn">
			<textarea id="contact-note-textbox" ng-model="note" style="width:100%;box-sizing:border-box"></textarea>
			<button class="btn btn-primary" ng-click="save()">Save</button> <button class="btn btn-link" ng-click="cancel()">Cancel</button>
		</form>
	</div>
	
	<div ng-repeat="note in data.notes" class="crm-timeline crm-timeline-note">
		<span ng-bind-html="note.note | nl2br"></span> <span class="label label-info pull-right">{{note.added_on | date:'dd/MMM/yyyy - h:mm a'}}</span>
	</div>
</div>