<div>
	<!-- Previous task complete -->
	<div ng-hide="contacts.current.action.status != 'DONE'" class="crm-timeline crm-timeline-action">
		<!-- show the task that has just been marked as completed (if one exists) -->
		<div ng-show="contacts.current.action.status == 'DONE'">
			<label class="pull-left mrl"><input type="checkbox" ng-click="undone()" ng-model="contacts.current.action.status" ng-true-value="'DONE'" ng-false-value="'TODO'"/> <span style="text-decoration:line-through">{{contacts.current.action.action}}</span></label>
			<a ng-show="!beforeEditContactAction" style="cursor:pointer" ng-click="undone()" class="text-danger">Cancel</a>
		</div>
	</div>
	
	<!-- Add next task -->
	<form ng-show="!contacts.current.action.action || contacts.current.action.status == 'DONE' || editMode" class="crm-timeline crm-timeline-action">
		<h4 class="mvs">Next Action</h4>
		<div class="controls">	
			<input class="input-block-level" ng-model="data.action.action" type="text" placeholder="Enter the next action to move this sale forward..."/>
		</div>
		<div class="controls">
			<select ng-model="data.action.due_select" ng-change="dueSelectChange($event, b)">
				<option value="today">Today</option>
				<option value="specific">Specific Date</option>
				<option value="asap">ASAP</option>
				<option value="waiting">Waiting</option>
				<option value="none">None</option>
				<option value="tomorrow">Tomorrow</option>
				<option value="7_days">Next week</option>
				<option value="14_days">2 weeks time</option>
				<option value="30_days">30 days time</option>
			</select>
			<input ng-show="['none', 'asap', 'waiting'].indexOf(data.action.due_select) == - 1" type="text" datey ng-model="data.action.due" />
			<br/>
		</div> 
		<button ng-disabled="!data.action.action" ng-click="saveAction()" class="btn" ng-class="{disabled:!data.action.action}" >Save</button>
		<button class="btn-link" ng-click="actionEditCancel()">Cancel </button>
	</form>
	
	<div ng-show="contacts.current.action.status == 'TODO' && !editMode" class="crm-timeline crm-timeline-action">
		<strong>Next Action:</strong>

		<div class="pull-right show-on-hover"><a ng-click="editAction()" class="btn btn-small pull-right ">Edit</a></div>
		<div class="media mtn">
			<div class="pull-left">
				<input id="action-todo-checkbox" type="checkbox" ng-click="done()" ng-model="contacts.current.action.status" ng-true-value="'DONE'" ng-false-value="'TODO'"/>
			</div>
			<div class="media-body">
				<label for="action-todo-checkbox">
					{{contacts.current.action.action}}
				</label>
				<span class="label " ng-style="{'background-color':getDueColor(contacts.current.action)}">{{contacts.current.action | actionDueDate}}</span>
				<br/>
				<span class="send-to-cal">
					<a href="{{baseUrl + '/crm/index/googleCal/actionId/' + contacts.current.action.id}}" target="_blank"><i class="icon-calendar"></i> GCal</a>
				</span>
			</div>
		</div>
	</div>
</div>